<% if (notice) { %>
    <p><%= notice %></p>
<% } %>

<p>
Authors!
</p>

<table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
      </tr>
    </thead>
    <tbody>
      <% authorsList.forEach( (author) => { %>
        <tr>
          <td><a href=<%= authorPath(author) %>><%= author.firstName %></a></td>
          <td><%= author.lastName %></td>
        </tr>
      <% }) %>
    </tbody>
</table>