<h1>Hello world</h1>
<p>
  App web version
  <%= appVersion %>
</p>
<div>Esta es una aplicaición con código de ejemplo para el uso del template, que no considera estilos. <a href="<%=authorsPath%>">Ver autores</a></div>
<% if (locals.currentUser) { %>
  <a href="<%= newBookPath %>">Agregar libro</a>
<% } %>
<br>
<div id="react-app">Here a React app will be rendered</div>
