<h1>Inicio de Sesión Exitoso</h1>
<p>
  Hola <%= user.firstName %>! Iniciaste sesión exitosamente hoy.
</p>
<p>  
  No desactives estos correos, 
</p>
<p>
  Saludos,
</p>
<p>
  Equipo GudReads!
</p>